<ion-view view-title="{{service}} - {{type}}">
  <ion-content class="padding">
  I need a {{service}} on {{type}} bases.<br/>
  
  <!-- {{position.coords.latitude}} -->

   Charges for 1hour will be 129 Rs/hr<br/><br/>


<div class="card">
  

<form ng-submit="conf()">
<label class="item item-input item-stacked-label">
                        <span class="input-label"> Please give your Address</span>
                        <textarea name="address" 
                        placeholder="enter address" ng-model="data.address" rows="4" ng-minlength="10" required>
                        </textarea>
                    </label>

   <input class="button button-block button-positive" 
                    type="submit" name="need now" value="Confirm"> 

   </form>
   </div>
  </ion-content>
</ion-view>
