<ion-view view-title="BlueTeam">
  <ion-content class="padding">
 
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/service/{{service}}/type/ondemand">
        <!-- <img ng-src="{{service.img}}"> -->
        <h2>On Demand</h2>
        
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/service/{{service}}/type/weekly">
        <!-- <img ng-src="{{service.img}}"> -->
        <h2>Weekly</h2>
        
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/service/{{service}}/type/monthly">
        <!-- <img ng-src="{{service.img}}"> -->
        <h2>Monthly</h2>
        
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
