<ion-view view-title="Book Now" >

    <ion-content has-header="true"  class="padding">

        <div style="text-align: center;">
            <p>
                <b>Get Relief from Worker on Leave<br/>
                    BOOK NOW
                </b>
            </p>
        </div>

        <div class="card row gallery ">

            BlueTeam Verified, High skilled, Experienced and Certified professional.
            <div class="col col-50"  ng-repeat="service in services" style="float: left; display: block;">

                <div class="card">
                    &nbsp;
                    <a href="#/tab/service-list/{{service.name}}" nav-direction="forward" >
                        <div style="text-align: center;">
                            <img ng-src="{{service.img_url}}" class="img-rounded" width="65" height="65" >
                            <h5>{{service.name  | uppercase}}</h5>
                        </div>
                    </a>
                </div>
            </div>

        </div>


        <div class='card'>
            <div style="text-align: center;">
                <i> In case of any problem. Please contact us at<br/>
                    <a class="icon-left ion-ios7-telephone" ng-href="tel: +91 9599075355"><span class="ion-android-call large"></span><b> +91 9599075355 </b> </a> <br />
                    <a href="#" onclick="window.open('mailto:info@blueteam.in','_system')" >info@blueteam.in</a><br />
                    <a href="#" onclick="window.open('http://www.BlueTeam.in','_system')"> www.BlueTeam.in </a>
                </i>
            </div>
        </div>


    </ion-content>
</ion-view>
