<ion-view view-title="Choose Plan">
    <ion-content class="padding">

        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-left" ng-repeat="plan in plans "
                      type="item-text-wrap" href="#/tab/service/{{service}}/type/{{plan.name}}">
                <!-- <img ng-src="{{service.img}}"> -->
                <i class="icon ion-ios-stopwatch large calm" ng-show="plan.name != 'Monthly'"></i>
                <i class="icon ion-calendar large calm" ng-show="plan.name == 'Monthly'"></i>
                <h2>{{plan.name}}</h2>
                <i style="font-style: italic;font-size: 0.8em;">{{plan.price}}</i>
            </ion-item>


        </ion-list>

        <div class='card'>
            <div style="text-align: center;">
                <i> For queries and issues. Please contact us at<br/>
                    <a class="icon-left ion-ios7-telephone" ng-href="tel: +91 9599075355"><span
                            class="ion-android-call large"></span><b> +91 9599075355 </b> </a> <br/>
                    <a href="#" onclick="window.open('mailto:info@blueteam.in','_system')">info@blueteam.in</a><br/>
                    <a href="#" onclick="window.open('http://www.BlueTeam.in','_system')"> www.BlueTeam.in </a>
                </i>
            </div>
        </div>

    </ion-content>
</ion-view>
