<ion-view view-title="Need Service At">
    <ion-content style="margin-top: -50px">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box" />
        <div id="map" data-tap-disabled="true">

        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <a ng-click="centerOnMe()" class="button button-icon icon ion-location">Find Me</a>
        <a ng-click="nextPage()" class="button button-icon button-calm icon-right ion-arrow-right-b">Next</a>
    </ion-footer-bar>
</ion-view>

