<ion-view view-title="Business Analysis">


    <ion-content has-header="true" class="padding" style="

        overflow-x: hidden ! important;
    background-image: url('./img/moneyimage.jpg');
    background-size:     contain;                      /* <------ */
    background-repeat: no-repeat;
        background-position: top;
        margin-top: -50px">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh(monthYear)">
        </ion-refresher>



      <div class="card" ng-controller="MonthlyIncomeCtrl">
          Yearly Report
          <hr>
        <canvas id="bar" class="card chart chart-bar" data="graph.data" chart-colours="graph.colors" labels="graph.labels"
                series='graph.series' chart-legend="legend" >

        </canvas>
        </div>
        <div class="card"  ng-show="(months.length != 0)">

            <div ng-repeat="month in months">
                <div class="row header" ng-click="doRefresh('{{ month.year  }}-{{ month.month }}-01');">
                    <div class="col col-20" ><b>{{ info.months[month.month-1]|limitTo:3 }}-{{ month.year|limitTo:-2 }}</b></div>
                    <div class="col col-40" style="background-color: #11c1f3"><b>In : {{ month.amount | currency:"&#8377;"}}</b></div>
                    <div class="col col-40" style="background-color: #ffc900"><b>Out : {{ month.expanse_amount| currency:"&#8377;" }}</b></div>


                </div>
                <hr/>
            </div>

        </div>
<!--
        <div ng-controller="bar">
            <h4 style="text-align: center">Expanse Division</h4>
            <canvas id="doughnut2" class="chart chart-doughnut"
                    chart-data="data" chart-labels="labels" height="100px"
                    chart-legend="legend">
            </canvas>
        </div>-->

        <div ng-controller="pie">
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick" height="1px">
            </canvas>
        </div>

        <div class="card" >
        <hr>
        <h3 style="text-align: center">{{ info.months[loadDateArr[1]-1] }}, {{ loadDateArr[0] }} Report</h3>
        <hr>
        </div>

        <div class="card" ng-controller="lots">
            <h4 style="text-align: center">Incoming Outgoing Ratio</h4>
            {{ JSON.stringify(output)}}
            <canvas id="doughnut" class="chart chart-doughnut"
                    chart-data="data" chart-labels="labels" height="200px" chart-colours="graph.colors"
                    options="options"
                    chart-legend="legend">
            </canvas>
        </div>
        <div class="card" ng-controller="bar">
            <h4 style="text-align: center">Income Division</h4>
            <canvas id="doughnut3" class="chart chart-doughnut"
                    chart-data="bar.data" chart-labels="bar.labels" height="200px"
                    chart-legend="legend">
            </canvas>
        </div>
        <div class="card" ng-controller="repartition">
            <h4 style="text-align: center">Expanse Division</h4>
            <canvas id="doughnut2" class="chart chart-doughnut"
                    chart-data="repartition.data" chart-labels="repartition.labels" height="200px"
                    chart-legend="legend">
            </canvas>
        </div>






        <div class="card"  ng-show="(invoices.length != 0)">
            For: {{ (monthYear == "")?'Current Month':monthYear }}
            <hr>
            <div class="row header">
                <div class="col col-10"><b>ID</b></div>
                <div class="col col-70"><b>Customer</b></div>
                <div class="col col-20"><b>Amount</b></div>

            </div>
            <hr/>
            <div class="row"  ng-repeat="invoice in invoices">
                <div class="col col-10">{{ $index+1 }}</div>
                <div class="col col-70">
                    <a style="text-decoration: none;"
                       ng-href="tel: +91 {{invoice.customer_mobile}}"> {{ invoice.customer_name | uppercase}}</a>

                    <span class="item-note" style="font-style: italic;"> on {{ invoice.creation | date:'dd-MM-yyyy' }}</span>
                </div>

                <div class="col col-20">&#8377;{{ invoice.amount| limitTo: 5}} </div>

            </div>
            <hr/>
            <div class="row header ">
                <div class="col col-10"><b>#</b></div>
                <div class="col col-70"><b>Total</b></div>
                <div class="col col-20"><b>&#8377;{{ thisMonthTotal }}</b></div>

            </div>




        </div>

        <div class='card' style="margin-top: 200px;" ng-show="(invoices.length == 0)">
            <div class="item item-text-wrap">
                <span class="item item-assertive msg-error" >
                            Sorry! No Invoice found
                          </span>
                <p><hr/>
            You have not given any bill/invoice till now.
                Please give bills to every customer of yours.<br/><br/>
                So, we can give you best reports.
                </p>
            </div>
        </div>
        <div class='card'>
            <div class="item item-text-wrap">
                <div style="text-align: center;">
                    <i> For queries and issues
                    </i>
                    <div class="button-bar">
                        <a class="button button-small button-full ion-ios7-telephone ion-android-call"
                           ng-href="tel: +91 9599075355"> Call</a>
                        <a class="button button-small button-full ion-email"
                           onclick="window.open('mailto:info@blueteam.in','_system')"> Email</a>
                        <a class="button button-small button-full ion-cloud"
                           onclick="window.open('http://www.BlueTeam.in','_system')"> Web</a>

                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>
